[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/wigcheng
[access "refs/for/refs/*"]
	read = group user/wigcheng
	push = group user/wigcheng
	label-Code-Review = -2..+2 group user/wigcheng
	label-Verified = -1..+1 group user/wigcheng
	rebase = group user/wigcheng
	removeReviewer = group user/wigcheng
	submit = group user/wigcheng
[access "refs/heads/*"]
	read = group user/wigcheng
	create = group user/wigcheng
	push = +force group user/wigcheng
	pushMerge = group user/wigcheng
[access "refs/tags/*"]
	push = +force group user/wigcheng
	pushTag = group user/wigcheng
	pushSignedTag = group user/wigcheng
